
body {
  background: #0f0f0f;
  color: white;
}

.mdl-textfield {
  padding-left: 100;
}

.form {
  flex: 1;
  display: flex;
  justify-content: center;
}

.form-text{
  margin: 0 20px;
  padding: 20px 0;
  font-size: 16px;
}


.grid {
	display: grid;
	direction: rtl;
	margin: 0px;
	grid-template-columns: repeat(7, 1fr);
	grid-row-start: -1;
}

.grid__item {
	height: 210px;
	position: relative;
	justify-content: center;
	display: flex;
	opacity: .7;
}

.grid__item:hover {
	opacity: 1;
}
