body{
    background: #161616;
    color: white;
}

.entry{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.entry > div{
    text-align: center;
    margin: 30px;
}

button{
    background: #00BAC6 !important;
    font-family: 'Frank Ruhl Libre'
}