
body {
  color: #828385;
  background: #161616 !important;
  color: #f4f6fa;
  margin: 0;
  user-select:none; 
  font-family: "ploni_dl_1.1_aaabold" !important;
}

.isMobile span{
  font-family: "ploni_dl_1.1_aaalight" !important;
  font-size: 40px;
  color: #828385;
  text-align: center;
  display: block;
  flex-direction: column;
  margin:15% 15% 15% 35%!important
}
 
#menu {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container{
  align-content: center;
  margin-top: 100px;
  height:500px;
  width:100%;
}

#text {
  color: #828385;
  font-family: "ploni_dl_1.1_aaaregular" !important;
  font-size: 14px;
}

#about {
  font-family: "ploni_dl_1.1_aaaregular" !important;
  text-align: right;
  /* margin: 0px; */
  color: gray;
  text-decoration: none;
  position: absolute;
  margin-right: 100px;
  margin-top: -20px;

  right: 10;
}

#soon {
  font-family: "ploni_dl_1.1_aaaregular" !important;
  text-decoration: none;
  
}

#about:hover { 
  color: #f4f6fa;
  transition: ease-in-out 0.3s;
}

button {
  background: #202020;
  width: 150px;
  line-height: 40px;
  font-size: 18px;
  border-color: transparent;
  font-family: "ploni_dl_1.1_aaaregular";
  color: #828385;
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  /* transition: 0.3s ease-in-out; */
  transition: 0.3s ease-in, transform 0.3s ease-in-out;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

button:focus {
  outline: none !important;
}

button.accent {
  
  color: white;
  background: linear-gradient(
    308deg,
    #ff0000,
    #ffa600,
    #ffea00,
    #77ff00,
    #00ffae,
    #00ebff,
    #007aff,
    #1800ff,
    #8800ff,
    #ff00e4,
    #ff005c,
    #ff0000
  );
  background-size: 2400% 2400%;
  -webkit-animation: AnimationName 45s ease infinite;
  -moz-animation: AnimationName 45s ease infinite;
  animation: AnimationName 45s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 17%;
  }
  50% {
    background-position: 100% 84%;
  }
  100% {
    background-position: 0% 17%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 17%;
  }
  50% {
    background-position: 100% 84%;
  }
  100% {
    background-position: 0% 17%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 17%;
  }
  50% {
    background-position: 100% 84%;
  }
  100% {
    background-position: 0% 17%;
  }
}

.content__text{
  opacity: 0;
  min-height: 350px;
  transition: opacity ease-in 500ms;
}