:root {
  --clr-white: #f4f6fa;
  --clr-black: #202020;
  --clr-grey-dark: #828385;
}


* {
  box-sizing: border-box;
}

body {
  color: white;
  background: #161616;
  font-family: "ploni_dl_1.1_aaaregular" !important;
}


.logo {
  margin-right: 40px;
}

#char {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -50px !important;
  /* margin-bottom: -120px !important; */
  /* height: 55%; */
  /* width: 100%; */
  /* margin-top: ; */
  /* margin-bottom: -20px; */

}

canvas{
  z-index: -1;
  /* margin-top: 0; */
  /* height: 450px !important;
  width:600px !important;
  z-index: -20; */
}

/* button{
  background: #00BAC6 !important;
  font-family: 'Frank Ruhl Libre'
} */

.knob-container{
  background: #202020 !important;
  margin: 40px !important;
  border-radius: 20px !important;
}

.back-btn {
  /* background-color: transparent; */
  background-color: var(--clr-white);
  color: var(--clr-black);
  margin-left: 45px;
  font-size: 14px;
}

.back-btn:hover {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.top-bar {
  -webkit-user-select:none; 
  -webkit-touch-callout:none; 
  -moz-user-select:none; 
  -ms-user-select:none; 
  user-select:none; 
}