:root {
  --clr-white: #f4f6fa;
  --clr-black: #202020;
  --clr-grey-dark: #828385;
}

* {
  box-sizing: border-box;
}

body {
  color: white;
  background: #161616;
  font-family: "ploni_dl_1.1_aaaregular" !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  user-select: none;
  opacity: 1;
  width: 100%;
}

body.fade {
  opacity: 0 !important;
  transition: ease-out !important;
}

body.bright-mode {
  background:var(--clr-white);
  /* transition: 0.2s ease-out; */

}

body.dark-mode {
  background: --clr-grey-dark;
  /* transition: 0.2s ease-out; */
}

.logo {
  margin-right: 40px;
  outline: none;
}

.logo:hover {
  transform: scale(1.06);
  transition: 0.2s ease-out;

}

#back {
  top: 20px;
  background: #5e5e60;
  color: var(--clr-white);
  border: none;
}

#back:hover {
  background: var(--clr-white);
  color: var(--clr-black) !important;
  transition: none !important;
}

#char {
  text-align: center;
  align-items: center;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  margin: auto;
  padding-top: 40px !important;
  padding-bottom: 214px !important;
  flex-direction: row;
  justify-content: center;
}

canvas{
  margin: auto;
  z-index: -1;
}

.knob-container{
  background: #202020 !important;
  margin-left: 150px !important;
  margin-right: 150px !important;
  margin-bottom: 40px !important;

  border-radius: 20px !important;
}

.back-btn {
  /* background-color: transparent; */
  background-color: var(--clr-white);
  color: var(--clr-black);
  margin-left: 45px;
  font-size: 14px;
}

.back-btn:hover {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.top-bar {
  -webkit-user-select:none; 
  -webkit-touch-callout:none; 
  -moz-user-select:none; 
  -ms-user-select:none; 
  user-select:none; 
  min-height: 120px !important;
  z-index: 2;
}

.seperator {
  height: 70px;
  width: 1px;
  background-color: #2e2e2e;
}