* {
  box-sizing: border-box;
}

body{ 
  color: white;
  background:#0f0f0f;
}

button{
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  position: relative;
  top:20%;
  left:20%;
}

body > div{
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

#char{
  display: flex;
    justify-content: center;
    flex-direction: column;
}

button{
  background: #00BAC6 !important;
  font-family: 'Frank Ruhl Libre'
}