@font-face {
  font-family: "frankgbold";
  src: url("frankgbold-webfont.woff2") format("woff2"),
    url("frankgbold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bar-height: 120px;
  --bar-background: #202020;
}

body {
  background: #161616;
  color: white;
  font-family: "ploni_dl_1.1_aaamedium" !important;
}

.mdl-textfield {
  padding-left: 100;
}

.form {
  flex: 1;
  display: flex;
  justify-content: center;
}

.form-text {
  margin: 0 20px;
  padding: 20px 0;
  font-size: 16px;
}

.grid {
  margin: 0 5%;
  display: grid;
  direction: rtl;
  grid-template-columns: repeat(7, 1fr);
  grid-row-start: -1;
}

.grid__item {
  height: 120px;
  position: relative;
  justify-content: center;
  display: flex;
  opacity: 0.5;
  cursor: pointer;
}

.grid__item:hover {
  opacity: 1;
}

#logo {
  cursor: pointer;
}

/* top bar */

.f-center {
  display: flex;
  align-items: center;
}
.rotate-180 {
  transform: rotate(180deg);
}

.top-bar {
  color: #a7a8ab;
  height: var(--bar-height);
  background-color: var(--bar-background);
  padding: 0 50px 0 25px;
  justify-content: space-between;
  font-size: 12px;
}

.logo img {
  width: 100%;
}

.top-bar-right,
.top-bar-left {
	width: 28%;
}

.top-bar-left .arrow {
  margin-left: 45px;
}

.actions-container {
  flex-grow: 1;
  flex-shrink: 0;
}

.action-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 100ms linear;
  cursor: pointer;
}



.action-item:hover {
  transform: scale(1.1);
}

.next span,
.action-item span {
  margin-top: 8px;
}

.action-item + .action-item {
  margin-left: 90px;
}

.next {
	flex-direction: column;
	margin-left: auto;
}

.arrow {
  cursor: pointer;
  padding: 20px;
}

::placeholder{
  color: rgb(37, 36, 36);
}

.dot {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  background: black;
  /* align-items: center; */
  /* align-content: center; */
  cursor: auto !important;
}

.number-button{
  display: inherit;
  flex: inherit;
  padding: 5px;
  align-items: center;
  text-align: center;
  font-size: 16;
  z-index: 10;
}

.number-button:hover {
  transform: rotate(0deg) !important;
}

#font-size{
  color:  rgb(255, 47, 99);
}

#letter-spacing{
  color: rgb(166, 34, 255);
}

#word-spacing{
  color: rgb(57, 103, 255);
}

.word{
  position: absolute;
  display: flex;
  margin: auto;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  justify-content: center;
  flex-direction: row-reverse;
}

.word > div{
    background: transparent;
    border-color: transparent;
    color: #1C1C1C;
    font-size: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.word > canvas{
  margin: auto 0;
}


.increase-button,
.decrease-button{
  display: inherit;
  flex: inherit;
  padding: 10px;
  align-items: center;
  text-align: center;
  background: none;
  color: white;
  border: none;
  margin-bottom: 26px;
  cursor: pointer;
}

.decrease-button{
  margin-left : 40px;
  margin-right :5px;
}


.increase-button{
  margin-right : 40px;
  margin-left :5px;
}

#long-text{
  margin-left: -15px;
  margin-right: -15px;
}

#line{
  background: #00FFF2;
  margin: auto 20;
  height: 200px;
  width: 2px
}