@font-face {
  font-family: "Glyphter";
  src: url("../../fonts/Glyphter.eot");
  src: url("../../fonts/Glyphter.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Glyphter.woff") format("woff"),
    url("../../fonts/Glyphter.ttf") format("truetype"),
    url("../../fonts/Glyphter.svg#Glyphter") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class*="icon-"]:after,
[class*="icon-"]:before {
  display: inline-block;
  font-family: "Glyphter";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'frankgbold';
  src: url('../fonts/frankgbold-webfont.woff2') format('woff2'),
       url('../fonts/frankgbold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --clr-white: #f4f6fa;
  --clr-black: #202020;
  --clr-grey-dark: #828385;
}


@font-face {
  font-family: "frankgbold";
  src: url("frankgbold-webfont.woff2") format("woff2"),
    url("frankgbold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bar-height: 120px;
  --bar-background: #202020;
}

body {
  background: #161616;
  color: white;
  font-family: "ploni_dl_1.1_aaamedium" !important;
}

.mdl-textfield {
  padding-left: 100;
}

.form {
  flex: 1;
  display: flex;
  justify-content: center;
}

.form-text {
  margin: 0 20px;
  padding: 20px 0;
  font-size: 16px;
}

.grid {
  margin: 0 5%;
  display: grid;
  direction: rtl;
  grid-template-columns: repeat(7, 1fr);
  grid-row-start: -1;
}

.grid__item {
  height: 120px;
  position: relative;
  justify-content: center;
  display: flex;
  opacity: 0.5;
  cursor: pointer;
}

.grid__item:hover {
  opacity: 1;
}

#logo {
  cursor: pointer;
}

/* top bar */

.f-center {
  display: flex;
  align-items: center;
}
.rotate-180 {
  transform: rotate(180deg);
}

.top-bar {
  display: flex;
  color: #a7a8ab;
  height: var(--bar-height);
  background-color: var(--bar-background);
  padding: 0 50px;
  font-size: 12px;
  -webkit-user-select:none; 
  -webkit-touch-callout:none; 
  -moz-user-select:none; 
  -ms-user-select:none; 
  user-select:none; 
}

.top-bar-right {
 margin-left: auto;
}

.top-bar-left .arrow {
  margin-left: 45px;
}

.actions-container {
  flex-grow: 1;
  flex-shrink: 0;
}



.action-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 100ms linear;
}


.action-item img,
.action-item .dot {
  transition: transform 300ms;

}
.action-item:hover img{
  transform: scale(1.1);
}

.next span,
.action-item span {
  margin-top: 8px;
}

.action-item + .action-item {
  margin-left: 90px;
}

.next {
	flex-direction: column;
	margin-left: auto;
}

.arrow {
  cursor: pointer;
  padding: 20px;
}

::placeholder{
  color: rgb(37, 36, 36);
}

.dot {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  background: #161616;
  cursor: auto !important;
  display: flex;
  align-items: center; 
  justify-content: center;
  border: none;
  text-align: center;
}

.number-button{
  display: inherit;
  flex: inherit;
  padding: 5px;
  align-items: center;
  text-align: center;
  font-size: 16;
  z-index: 10;
  margin: 0 !important;
  outline: none;
  cursor: text !important;
}

.number-button:hover {
  transform: rotate(0deg) !important;
}

#font-size{
  color:  rgb(255, 47, 99);
}

#letter-spacing{
  color: rgb(166, 34, 255);
}

#darkMode img{
  cursor: pointer;
}

.word{
  position: absolute;
  display: flex;
  margin: auto;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  justify-content: center;
  flex-direction: row-reverse;
}

.word > div{
    background: transparent;
    border-color: transparent;
    color: #1C1C1C;
    font-size: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.word > canvas{
  margin: auto 0;
}


.increase-button,
.decrease-button{
  display: flex;
  padding: 8px;
  align-items: center;
  text-align: center;
  background-color: transparent;
  color: #5e5e60;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: -32px;
  font-size: 20px;
}

.increase-button:hover,
.decrease-button:hover {
  color: white;
}


#line{
  background: #00FFF2;
  margin: auto 20;
  height: 200px;
  width: 2px
}
.next-btn-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: auto;
  text-align: center;
}

.nav-btn {
  user-select: none;
  outline: none;
  max-width: 150px;
  font-family: "ploni_dl_1.1_aaamedium" !important;
  font-size: 14px;
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 89px;
  height: 32px;
  background-color: var(--clr-white);
  transition: all 400ms;
  cursor: pointer;
}

.back-btn:hover {
  color: var(--clr-white);
}

#nextBtn {
  position: relative;
  top: 22px;
}

.next-btn-text {
  margin-top: 26px;
  color: #5e5e60;
}

.back-btn {
  background-color: transparent;
  border: transparent;
  color: var(--clr-grey-dark);
  font-size: 12px;
  margin-left: 45px;
}

.back-btn.icon-arrow:before {
  content: "\0041";
  margin-right: 9px;
  transform: rotate(180deg);
}
.seperator {
  height: 70px;
  width: 1px;
  background-color: #2e2e2e;
}

.logo {
  margin-right: 40px;
}

.tempo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}

.tempo-container label {
  margin: 0 20px 0 35px;
}

:root {
  --progress: 0%;
  --line-height: 4px;
  --color: #01eD95;
}
input[type="range"] {
/*   display: block; */
  -webkit-appearance: none;
  background-color: black;
  width: 157px;
  height: var(--line-height);
  border-radius: 5px;
  outline: 0;
  margin: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--color);
  margin-top: -10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
input[type="range"]::-moz-range-thumb,
input[type="range"]::-ms-thumb {
  border: 2px solid #979797;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.1);
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #979797;
  height: var(--line-height);
  border-radius: var(--line-height);
}

input[type="range"]::-moz-range-track {
  background-color: #979797;
  border-radius: 4px;
}
input[type="range"]::-ms-track {
  background-color: #979797;
  color: transparent;
  border: none;
}
input[type="range"]::-ms-fill-lower {
  background-color: var(--color);
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    var(--color) 0%,
    var(--color) var(--progress),
    #979797 var(--progress),
    #979797
  );
}
input[type="range"]::-moz-range-track {
  background: linear-gradient(
    to right,
    var(--color) 0%,
    var(--color) var(--progress),
    #979797 var(--progress),
    #979797
  );
}
input[type="range"]::-ms-fill-lower {
  background: linear-gradient(
    to right,
    var(--color) 0%,
    var(--color) var(--progress),
    #979797 var(--progress),
    #979797
  );
}

.empty-space{
  visibility: hidden !important;
}

.tempo-val {
  width: 20px;
  margin: 0 65px 0 20px;
}

.top-bar-center {
  margin-left: 45px;
}

#decrease-font-size {
  margin-left: 45px;
}

#decrease-letter-space {
  margin-left: 55px;
}
#increase-letter-space {
  margin-right: 45px;
}

#darkMode {
  margin: 0 65px 0 45px;
  width: 73px;
}